* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
  }
  
  header {
    position: sticky;
    top: 0;
    background-color: #3b3937;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo img {
    height: 50px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  header nav ul li {
    margin: 0;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  header nav ul li a:hover {
    color:#967f71;
  }
  
  #services, #creations, #social, #contact {
    padding: 40px 20px;
    text-align: center;
  }
  