* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #fefdfc, #fdf7ed, #ffffff);
}
  
  header {
    position: sticky;
    top: 0;
    background-color: #967f71;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo img {
    height: 50px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  header nav ul li a:hover {
    color:#3b3937;
  }
  
  /* Styles du menu et du bouton burger */
.burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .burger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s;
  }
  
  /* Styles du menu ouvert */
  nav ul {
    display: flex;
  }

  .slider {
    position: relative;
    width: 100%; /* Prend toute la largeur de la page */
    max-height: 400px; /* Ajuste la hauteur maximale du slider */
    overflow: hidden; /* Cache les éléments qui débordent */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transition fluide */
    width: 100%; /* Assure que les slides prennent toute la largeur */

}

.slide {
    min-width: 100%; /* Chaque slide prend la largeur complète du conteneur */
    box-sizing: border-box; /* Assure que le padding et la bordure sont inclus dans la largeur */
}

.slide img {
    width: 100%; /* L'image prend toute la largeur de son conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour garder les proportions */
}

.caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis pour la légende */
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les flèches */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Changement de couleur au survol */
}

button {
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 1); /* Change de couleur au survol */
}


  /* Section générale */
section {
    padding: 40px 20px;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3b3937;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre portée */
  }

  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}
  
 .card {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);

  --line: hsl(240, 9%, 17%);
  --primary: hsl(35, 15%, 40%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  width: 19rem;
  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(42, 32%, 22%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsl(40, 20%, 26%) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(43, 25%, 22%) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border {
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 100%) -50%,
    hsl(0, 0%, 40%) 100%
  );

  border-radius: 1rem;
}

.card .card__border::before {
  content: "";
  pointer-events: none;

  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), rotate(0deg);
  transform-origin: left;

  width: 200%;
  height: 10rem;
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0%,
    hsl(30, 10%, 20%) 40%,
    hsl(35, 26%, 27%) 60%,
    hsla(0, 0%, 40%, 0) 100%
  );

  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.card .card_title__container .card_title {
  font-size: 1rem;
  color: var(--white);
}

.card .card_title__container .card_paragraph {
  margin-top: 0.25rem;
  width: 65%;

  font-size: 0.5rem;
  color: var(--paragraph);
}

.card .line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--line);

  border: none;
}

.card .card__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card .card__list .card__list_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .card__list .card__list_item .check {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;
  background-color: var(--primary);

  border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
  width: 0.75rem;
  height: 0.75rem;

  fill: var(--black);
}

.card .card__list .card__list_item .list_text {
  font-size: 0.75rem;
  color: var(--white);
}

.card .button {
  cursor: pointer;

  padding: 0.5rem;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    hsl(43, 28%, 32%),
    hsl(45, 4%, 20%) 100%
  );

  font-size: 0.75rem;
  color: var(--white);

  border: 0;
  border-radius: 9999px;
  box-shadow: inset 0 -2px 25px -4px var(--white);
}

  .gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  .gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }
  
  #instagram-feed iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 500px;
  }


  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px;
    background-color: #967f71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; /* Largeur spécifique pour le bouton */
    margin: 0 auto; /* Centre le bouton */
  }
  
  form button:hover {
    background-color: #3b3937;
    transform: scale(1.05); /* Léger zoom pour une impression de clic */
    width: 100px; /* Largeur spécifique pour le bouton */
  }

  footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  footer a {
    color: #967f71;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

/* Responsive Styles */
@media (max-width: 1200px) {
    header nav ul {
        gap: 10px; /* Réduit l'espacement sur les écrans moyens */
    }
    
    h2 {
        font-size: 1.8rem; /* Ajuste la taille des titres */
    }
}

@media (max-width: 992px) {
    header {
        flex-direction: column; /* Colonne pour les écrans plus petits */
        align-items: flex-start;
    }
    
    header nav {
        width: 100%; /* Occupe toute la largeur */
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Masqué par défaut en mode mobile */
        flex-direction: column;
        gap: 10px;
        background-color: #967f71;
        padding: 20px;
        position: absolute;
        top: 70px;
        right: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 80%;
    }

    .burger-menu {
        display: flex; /* Affiche le burger menu sur mobile */
    }

    nav ul.open {
        display: flex; /* Affiche le menu lorsqu'il a la classe 'open' */
    }

    h2 {
        font-size: 1.5rem; /* Taille des titres sur mobile */
    }

    .card {
        width: 100%; /* Cartes occupent toute la largeur */
    }

    .gallery img {
        width: 100%; /* Images de la galerie occupent toute la largeur */
    }
}

@media (max-width: 600px) {
    header nav ul {
        gap: 5px; /* Réduit l'espacement dans le menu */
    }

    h2 {
        font-size: 1.2rem; /* Ajuste la taille des titres */
    }

    .card {
        width: 100%; /* Cartes s'ajustent sur mobile */
    }

    .gallery img {
        width: 100%; /* Images de la galerie s'ajustent */
        height: auto;
    }
}

footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

footer a {
    color: #967f71;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}